.button {
    width: 300px; /* set a width so it doesnt change upon hover */
     border: 0px solid #004B84;
     background: red;
     padding: 3px 21px;
     -webkit-border-radius: 16px;
     -moz-border-radius: 16px;
     border-radius: 16px;
     color: #ffffff;
     font-size: 12px;
     font-family: Questrial;
     text-decoration: none;
     vertical-align: middle;
     letter-spacing: 2px;
  }
  
  .button::after {
    content: "New Request";
    }
    .button:hover::after {
     content: "No Littering or i will tickle!";
    }
    
    .button:hover {
    background-color: green;
    border: 0px solid #1292e1;
    color: white !important;
    }
    img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 400px;
      }